In [1]:
#importing libraries
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_excel("C:\\Users\\abcd\\Downloads\\Dataset_w6.xlsx")
data

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0
...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),SouthAmerica,912050.0,31977.0,11068.9,118.0,16324.0
192,Viet Nam,South-easternAsia,330967.0,95541.0,2067.9,136.0,174111.0
193,Yemen,WesternAsia,527968.0,28250.0,1106.4,136.0,6861.0
194,Zambia,EasternAfrica,752612.0,17094.0,1311.1,179.0,7442.0
195,Zimbabwe,EasternAfrica,390757.0,16530.0,890.4,99.0,5212.0

In [3]:
#checking null values
data.isnull().sum()

country                                       0
Region                                        0
Surface area (km2)                            0
Population in thousands (2017)                0
GDP per capita (current US$)                  0
Agricultural production index                 0
International trade: Imports (million US$)    0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 7 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   country                                     196 non-null    object
 1   Region                                      196 non-null    object
 2   Surface area (km2)                          196 non-null    float64
 3   Population in thousands (2017)              196 non-null    float64
 4   GDP per capita (current US$)                196 non-null    float64
 5   Agricultural production index               196 non-null    float64
 6   International trade: Imports (million US$)  196 non-null    float64
dtypes: float64(5), object(2)
memory usage: 10.8+ KB

In [5]:
# How many countries are in the dataset.
data2=data["country"].count()
print("There are",data2,"countries in the dataset")

There are 196 countries in the dataset

In [7]:
# No. of countries with respect to region
data.groupby("Region")["country"].count()

Region
Caribbean            16
CentralAmerica        8
CentralAsia           5
EasternAfrica        17
EasternAsia           7
EasternEurope        10
Melanesia             5
Micronesia            4
MiddleAfrica          9
NorthernAfrica        5
NorthernAmerica       4
NorthernEurope       10
Oceania               2
Polynesia             5
South-easternAsia    11
SouthAmerica         12
SouthernAfrica        5
SouthernAsia          9
SouthernEurope       12
WesternAfrica        15
WesternAsia          18
WesternEurope         7
Name: country, dtype: int64

In [8]:
# Region having highest GDP per capita
data.groupby("Region")["GDP per capita (current US$)"].mean().sort_values(ascending=False).head(1)

Region
NorthernAmerica    57659.0
Name: GDP per capita (current US$), dtype: float64

In [10]:
# Region having highest international trade:imports
data.groupby("Region")["International trade: Imports (million US$)"].mean().sort_values(ascending=False).head(1)

Region
NorthernAmerica    663552.25
Name: International trade: Imports (million US$), dtype: float64

In [11]:
# region has more consistent with respect to GDP per capita (current US$)
data.groupby("Region")["GDP per capita (current US$)"].std().sort_values(ascending=True).head(1)

Region
WesternAfrica    815.095399
Name: GDP per capita (current US$), dtype: float64